node_modules

# Binaries & Executables
/bin
/bin/*
# *.exe  <-- Comentado para permitir arquivos .exe
*.zip
*.mp3
*-player-script.js

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
